        <style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
            background-color: #f8f8f8;
            padding: 10px;
            box-sizing: border-box;
        }
       h1, h2, h3 {
            font-size: 2em;
            font-weight: bold;
        }

        h1 {
            font-size: 5em;
        }
        #content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

    h2 {
            color: #264a87;
        }

        ol {
            list-style-type: decimal;
            margin-left: 20px;
        }

        li {
            margin-bottom: 10px;
            font-size: 1.3em;
        }   

    header {
      background-image:linear-gradient(to right, #264a87 , #0CAFFF); 
      padding: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header img {
      height: 100px; /* Adjust the height as needed */
      margin: 0 10px; /* Adjust the margin as needed */
    }

    #left-image {
      order: 1; /* This places the left image first in the flex container */
    }

    #left-image img {
        max-width: 100%; /* Make the image responsive */
    }

    #right-image {
      order: 2; /* This places the right image second in the flex container */
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 10px;
    }

   #right-image img {
            margin-bottom: 10px; /* Adjust the margin as needed */
    }

    #DATE_IN_NEPALI, #TIME_IN_NEPALI {
            color: white; /* Adjust the color as needed */
    }

    nav {
            display: flex;
            justify-content: space-around;
            background-image: url('nav.png');
            background-repeat: no-repeat;
            background-size: cover;
            align-items: center;
            padding: 10px;
        }

        nav a {
            text-decoration: none;
            color: #333;
            padding: 10px;
            border-radius: 15px;
            transition: background-color 0.3s;
        }

        nav a:hover {
            background-color: #ddd;
        }

        #scrollButton {
            display: none;
            position: fixed;
            bottom: 80px;
            right: 20px;
            background-image:linear-gradient(to right, #264a87 , #0CAFFF); 
            color: #fff;
            border: none;
            border-radius: 50%;
            padding: 10px;
            font-size: 40px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;

        }

        #scrollButton:hover {
            background-color: #1c7fad; /* Change the background color on hover */
        }   
        
        section {
            max-width: 1000px;
            margin: 20px auto;
            padding: 20px;
            background-color: #f5f5f5; 
            background-image: url('section-bg.png');
            border-radius: 15px;
            opacity: 0;
            transition: opacity 0.8s ease-in-out;
            
        }

        #section1 {
            max-width: 450px; /* Gold */
        }

        section.show{
            opacity: 1;
         
        }

        section:hover {
            background-image: url('section-bg-hover.png');
            
        }

        section:nth-child(2):hover {
            transform: scale(1.1);
        }

        footer {
            background-image: linear-gradient(to right, #264a87 , #0CAFFF);
            text-align: center;
            background-color: #333;
            color: white;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
            transform: translateY(100%);
            transition: transform 0.5s ease-in-out;
        }
        
        .content-container {
            margin-bottom: 60px; /* Adjust this value to accommodate the footer height */
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        
        #uploadBox {
            width: 300px;
            height: 300px;
            border: 2px dashed #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            flex-direction: row;
        }

        #uploadedImage {
            max-width: 100%;
            max-height: 100%;
            margin: 50px;
            object-fit: cover;
        }

        #fileInput {
            display: none;
        }
        .box-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 10px;
        }

        .box {
            position: relative;
            width: 1300px;
            height: 450px;
            background-color: #ffffff;
            background-image: url('desktop-box.png');
            border: 1px solid #ccc; 
            padding: 0px;
            margin: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .box img {
        max-width: 100%;
        max-height: 200%;
        object-fit: contain;
    }

        .button-container {
            display: flex;
            flex-direction: row; /* Set to row for desktop view */
            gap: 380px; /* Add custom gap between buttons */
            justify-content: flex-end; /* Align to the right for mobile view */
            margin-right: 170px;
            margin-top: 250px;
        }

        .button-container a {
            text-decoration: none; /* Remove default underline for links */
        }

        .button-container button {
            width: 100%;
            max-width: 200px;
            padding: 10px;
            font-size: 16px;
            background-color: #1c7fad; /* Set the background color to #1c7fad */
            color: #ffffff; /* Set the default text color to white */
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover for background and color */
            border-radius: 10px; /* Add curved corners */
        }

        .button-container button:hover {
            background-color: #ddd; /* Set the background color to #ddd on hover */
            color: #000000; /* Set the font color to black on hover */
        }


         .box img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

        @media (max-width: 600px) {
            .box {
                
                background-image: url('mobile-box.png');
               
            }
             .desktop-image {
            display: none; /* Hide the desktop image in mobile view */
        }

            header {
            flex-direction: column;
            text-align: center;
        }
        footer {
                padding: 5px; /* Adjust the padding for smaller screens */
                font-size: 12px; /* Adjust the font size for smaller screens */
            }

        #scrollButton {
                bottom: 50px; /* Adjust the distance from the bottom for smaller screens */
                right: 10px; /* Adjust the distance from the right for smaller screens */
            }    

        #left-image img {
            max-width: 105%; /* Adjust the max-width for smaller screens */
        }

        #right-image {
            margin-top: 10px; /* Add margin for better spacing */
            align-items: center;
        }
            nav {
                flex-direction: column;
                align-items: center;
            }

            nav a {
                margin-top: 5px;
            }
            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
            .button-container {
                flex-direction: column; /* Set to column for mobile view */
                gap: 50px; /* Adjusted gap for mobile view */
                justify-content: center; /* Align to the right for mobile view */
                margin-left: 40px;
            }
        }



  </style>
